# Lecture 01: Introduction to Python

Instructor:
<br>**Md Shahidullah Kawsar**
<br>Data Scientist
<br>IDARE, Houston, TX, USA

#### Objectives:
1. Familiarity with Anaconda, jupyter notebook, and Github
2. Learn logical thinking by playing blockly games: Maze
3. Learn about Python data types, Mathematical Operations, Comparison Operators, Logical Operators, and Membership Operators

#### References: 
1. Version 3.7 (preferred) or higher: https://www.python.org/downloads/%7B%7B6%7D%7D
2. Download Anaconda installer: https://www.anaconda.com/products/individual
3. How to Install Anaconda (Python) on Windows 10:
https://www.youtube.com/watch?v=syijLJ3oQzU
4. Easily Install Anaconda Python on MacOS:
https://www.youtube.com/watch?v=V6ZAv7hBH6Y&ab_channel=JustUnderstandingDataJustUnderstandingData
5. https://blockly.games/
6. Python - Basic Operators: https://www.tutorialspoint.com/python/python_basic_operators.htm
7. Data Science workshop: https://github.com/sadat1971/Conducting-Workshop-DATA-SCIENCE/tree/master/lecture_tutorials

### Python Data Types
<br>**str** : string, text
<br>**int** : inetger numbers
<br>**float** : real numbers, decimal values
<br>**bool** : True, False

In [42]:
name = 'Lionel Andres Messi'
print("name : ", name)
print('type of name is', type(name))

birth_year = 1987
print("birth_year : ", birth_year)
print('type of birth_year is', type(birth_year))

height = 1.7
print("height : ", height)
print('type of height is', type(height))

no_1_player = True
print("no_1_player : ", no_1_player)
print('type of no_1_player is', type(no_1_player))

name :  Lionel Andres Messi
type of name is <class 'str'>
birth_year :  1987
type of birth_year is <class 'int'>
height :  1.7
type of height is <class 'float'>
no_1_player :  True
type of no_1_player is <class 'bool'>

### Mathematical operations

In [43]:
a = 2 #integer
b = 3 #integer 

# Addition
print("a+b = ", a+b) 

# Multiplication
print("a*b = ", a*b) 

# Subtraction
print("a-b = ", a-b) 

# Modulus: Divides left hand operand by right hand operand and returns remainder
print("a%b = ", a%b) 

# Division
print("a/b = ", a/b)

# Floor Division - The division of operands 
# where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, 
# i.e., rounded away from zero (towards negative infinity)
print("a//b = ", a//b) 

# Exponent: Performs exponential (power) calculation on operators
print("a**b = ", a**b)

a+b =  5
a*b =  6
a-b =  -1
a%b =  2
a/b =  0.6666666666666666
a//b =  0
a**b =  8

### Comparison Operators

In [44]:
a = -1
b = 1

print("a == b : ", a == b)
print("a != b : ", a != b)
print("a >= b : ", a >= b)
print("a <= b : ", a <= b)
print("a > b  : ", a > b)
print("a < b  : ", a < b)

a == b :  False
a != b :  True
a >= b :  False
a <= b :  True
a > b  :  False
a < b  :  True

### Logical Operators

In [45]:
a = 1
b = 1
c = 2
d = 2

print("a == b and c == d : ", a == b and c == d)
print("a == b or c == d : ", a == b or c == d)
print("not c == d : ", not c == d)

a == b and c == d :  True
a == b or c == d :  True
not c == d :  False

### Membership Operators

In [46]:
a = "abul"
b = "babul"

print("a in b     : ", a in b)
print("a not in b : ", a not in b)

a in b     :  True
a not in b :  False

### Homework: 
1. Play the blockly games: Maze and complete upto level 10
2. Create a Github account
3. Create a LinkedIn account. Update the profile picture and cover photo.