# Lecture 01: Introduction to Python

Instructor:
<br>**Md Shahidullah Kawsar**
<br>Data Scientist
<br>IDARE, Houston, TX, USA

#### Objectives:
1. Familiarity with Anaconda, jupyter notebook, and Github
2. Learn logical thinking by playing blockly games: Maze
3. Learn about Python data types, Mathematical Operations, Comparison Operators, Logical Operators, and Membership Operators

#### References: 
1. Version 3.7 (preferred) or higher: https://www.python.org/downloads/%7B%7B6%7D%7D
2. Download Anaconda installer: https://www.anaconda.com/products/individual
3. How to Install Anaconda (Python) on Windows 10:
https://www.youtube.com/watch?v=syijLJ3oQzU
4. Easily Install Anaconda Python on MacOS:
https://www.youtube.com/watch?v=V6ZAv7hBH6Y&ab_channel=JustUnderstandingDataJustUnderstandingData
5. https://blockly.games/
6. Python - Basic Operators: https://www.tutorialspoint.com/python/python_basic_operators.htm
7. Data Science workshop: https://github.com/sadat1971/Conducting-Workshop-DATA-SCIENCE/tree/master/lecture_tutorials

- Q1: The sum of two even numbers will be always odd. True or **False**

<br>The sum of two even numbers will be always even.
<br>The sum of two odd numbers will be always even.
<br>The sum of one even number and one odd number will be always odd

In [34]:
# integer
# পূর্ণসংখ্যা 
# কমেন্ট
2 + 2

4

In [35]:
4 + 10

14

In [36]:
3 + 3

6

In [37]:
2 + 3

5

- Q2: A positive value is always greater than a negative value. **True** or False

In [38]:
1 > -1

True

In [39]:
-9 > 1

False

- Q3: Can you divide a number by zero? Yes or **No**

In [40]:
# 0/0

- Q4. If x is less than 1 and y is greater than 1, then x/y is less than 1. True or False

In [41]:
# 0.5 float 
x = 0.5
y = 2

x/y < 1

True

- Q5. The word 'Google' contains 5 unique characters. **True** or False

In [42]:
# "Google", 'Google'

#len("Google")
len("My phone number is 2082222 !&")

29

In [43]:
1 == 1

True

In [44]:
2 == 3

False

In [45]:
52 == 53

False

In [46]:
"G" == "g"

False

In [47]:
"G" == "G"

True

- Q6. If x>1 and y>1, then x multiplied by y is greater than 1. **True** or False

In [48]:
x = 100
y = 10

x*y > 1

True

- Q7. The product of two odd numbers and one even number will always be an even number. **True** or False

In [49]:
3*5*2

30

In [50]:
7*1*4

28

- Q8. Set A = {1, 3, 5}, Set B = {1, 2, 3}; Set A intersection Set B = {1, 2, 3, 5}. True or **False**

In [51]:
a = {1,3,5}
b = {1,2,3}

a.intersection(b)

{1, 3}

- Q9. A = [1,2,3,1,2,3,12,3], the number of unique integers present in A are 4. **True** or False

- Q10. 1 is not equal to 1.00. True or **False**

In [52]:
1 == 1.00

True

In [53]:
a = True
b = False

### Python Data Types
<br>**str** : string, text
<br>**int** : inetger numbers
<br>**float** : real numbers, decimal values
<br>**bool** : True, False

In [54]:
name = 'Lionel Andres Messi'
print("name : ", name)
#print('type of name is', type(name))

birth_year = 1987
print("birth_year : ", birth_year)
#print('type of birth_year is', type(birth_year))

height = 1.7
print("height : ", height)
#print('type of height is', type(height))

no_1_player = True
print("no_1_player : ", no_1_player)
#print('type of no_1_player is', type(no_1_player))

name :  Lionel Andres Messi
birth_year :  1987
height :  1.7
no_1_player :  True

### Mathematical operations

In [55]:
a = 2 #integer
b = 3 #integer 

# Addition
print("a+b = ", a+b) 

# Multiplication
print("a*b = ", a*b) 

# Subtraction
print("a-b = ", a-b) 

# Modulus: Divides left hand operand by right hand operand and returns remainder
print("a%b = ", a%b) 

# Division
print("a/b = ", a/b)

# Floor Division - The division of operands 
# where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, 
# i.e., rounded away from zero (towards negative infinity)
print("a//b = ", a//b) 

# Exponent: Performs exponential (power) calculation on operators
print("a**b = ", a**b)

a+b =  5
a*b =  6
a-b =  -1
a%b =  2
a/b =  0.6666666666666666
a//b =  0
a**b =  8

### Comparison Operators

In [56]:
a = -1
b = 1

print("a == b : ", a == b)
print("a != b : ", a != b)
print("a >= b : ", a >= b)
print("a <= b : ", a <= b)
print("a > b  : ", a > b)
print("a < b  : ", a < b)

a == b :  False
a != b :  True
a >= b :  False
a <= b :  True
a > b  :  False
a < b  :  True